@use '@angular/material' as mat;
@use './app-theme' as *;

$panel-background: mat.get-theme-color($app-theme, background, background);
$toolbar-background: mat.get-theme-color($app-theme, background, app-bar);
$primary: mat.get-theme-color($app-theme, primary, default);
$divider: mat.get-theme-color($app-theme, foreground, divider);
