@use '@angular/material/theming' as mat;
@use './app-theme' as *;

$panel-background: mat.mat-color(map-get($app-theme, background), background);
$toolbar-background: mat.mat-color(map-get($app-theme, background), app-bar);
$primary: mat.mat-color(map-get($app-theme, primary));
$divider: mat.mat-color(map-get($app-theme, foreground), divider);
