@use '@angular/material' as mat;

$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$amber-palette);
$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn
    ),
    typography: mat.define-typography-config(),
    density: 0,
));
