/* You can add global styles to this file, and also import other style files */

@import './app-theme';
@import './colors';
@import './overrides';

@include mat-core();
@include angular-material-theme($app-theme);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $panel-background;
}
