@use '@angular/material' as mat;
@use './app-theme' as *;
@use './colors' as *;

@include mat.core();
@include mat.all-component-themes($app-theme);

@import './overrides';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $panel-background;
}
